@using Tournamentz.BL.Queries
@model List<TeamQueries.PlayingIn>

@{
    ViewBag.Title = "Timovi u kojima igram";
}

<h2>@ViewBag.Title</h2>

<p>Ovo su svi timovi u kojima sam ja igrač!</p>

<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr class="info">
            <th>Naziv tima</th>
        </tr>
    </thead>

    <tbody>
        @foreach (TeamQueries.PlayingIn team in Model)
        {
            <tr>
                <td>@team.Title</td>
            </tr>
        }
    </tbody>
</table>