@model HandleErrorInfo

@{
    ViewBag.Title = "Greška";
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2 class="text-danger">Dogodila se neočekivana greška prilikom obrade zahtjeva.</h2>

@if (Request.IsLocal)
{
    <p>
        Controller: <strong>@Model.ControllerName</strong>
    </p>
    <p>
        Action: <strong>@Model.ActionName</strong>
    </p>

    <p>Exception:</p>

    <pre>@Model.Exception.ToString()</pre>
}
else
{
    <p>
        Molimo vas kontaktirajte administratora stranice na ovoj adresi: <a href="mailto:admin@tournamentz.com">admin@tournamentz.com</a>
    </p>
}



